*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

@font-face {
    font-family: relogio;
    src: url('/fonts/alarm.ttf');
}

body{
    background: linear-gradient(cyan, darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    width: 600px;
    height: 250px;    
    gap: 5px;
    background: white;    
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.716);
    padding: 0 20px;
}

.relogio div {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;      
    background: black;
    color: red;
}

.relogio div p {    
    font-size: 90px;
    font-family: relogio;
}

.relogio h1 {
    font-size: 80px;    
    animation: animation .8s ease-in-out infinite;    
}


@keyframes animation {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.2);
    }
}



